* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%dis-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    @extend %dis-flex;
    justify-content: space-between;

    &-item {
    
    }

    &-left {
        @extend %dis-flex;
        &_item {
            
        }
    }
    
    &-right {
        @extend %dis-flex;
        &_item {

        }
    }
}