---
layout: layouts/base.njk
permalink: /
---

{% set herolist = collections.heroes[0] %}
{% include "heroblogs.njk" %}
<section class="home-lists_wrapper">
    <div class="home-tabs">
        <span class="home-section_tab">
            All
        </span>
        <span class="home-section_tab">
            Category 1
        </span>
        <span class="home-section_tab">
            Category 2
        </span>
        <span class="home-section_tab">
            Category 3
        </span>
        <span class="home-section_tab">
            Category 4
        </span>
    </div>
    <div class="home-post-gallery home-list_all">

        <article class="home-featured_doc">
            <article class="card">
                <figure>
                </figure>
                <div class="card-info">
                    <span class="card-note">newest</span>
                    <span class="card-title">Surfing in Maldives</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ullam totam, hic eos ex quam ipsam dolore omnis cupiditate illum!</p>
                </div>
            </article>
        </article>

        <article class="home-new-feat_doc">
            <article class="card">
                <figure></figure>
                <div class="card-feature_info">
                    <div class="card-badge">
                        status
                    </div>
                    <div class="card-title">Activity Feed</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi exercitationem eligendi corporis officiis provident! Aliquid porro fuga laborum earum rerum!
                    </p>
                </div>
            </article>
        </article>

        <article class="home-new-asset_docs">
            <article class="card">
                <!--asset documents / styled by section -->
            </article>
        </article>

        <article class="home-new-asset_docs">
            <article class="card">
                <!--asset documents / styled by section -->
            </article>
        </article>

        <article class="home-new-asset_docs">
            <article class="card">
                <!--asset documents / styled by section -->
            </article>
        </article>

        <article class="home-new-asset_docs">
            <article class="card">
                <!--asset documents / styled by section -->
            </article>
        </article>

        <article class="home-new_guides">
            <article class="card">
                <!--latest posts -->
            </article>
        </article>

        <article class="home-new_guides">
            <article class="card">
                <!--latest posts -->
            </article>
        </article>

        <article class="home-new_guides">
            <article class="card">
                <!--latest posts -->
            </article>
        </article>

        <article class="home-new_releases">
            <article class="card">
                <!--release archive - holding all releases in a category -->
            </article>
        </article>

        <article class="home-market_blogs">
            <article class="card">
                <!--list of new marketing site blogs -->
            </article>
        </article>

    </div>
</section>