---
layout: layouts/base.njk
permalink: /
---

{% set herolist = collections.heroes[0] %}
{% include "heroblogs.njk" %}
<section class="home-lists_wrapper">
    <div class="home-tabs">
        <span class="home-section_tab">
            All
        </span>
        <span class="home-section_tab">
            Category 1
        </span>
        <span class="home-section_tab">
            Category 2
        </span>
        <span class="home-section_tab">
            Category 3
        </span>
        <span class="home-section_tab">
            Category 4
        </span>
    </div>
    <div class="home-post-gallery home-list_all">

        <article class="home-featured_doc">
            <article class="card">
                <figure>
                </figure>
                <div class="card-info">
                    <span class="card-note">newest</span>
                    <span class="card-title">Surfing in Maldives</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ullam totam, hic eos ex quam ipsam dolore omnis cupiditate illum!</p>
                </div>
            </article>
        </article>

        <article class="home-new-feat_doc">
            <article class="card">
                <figure class="new-feature-hero"></figure>
                <div class="card-feature_info">
                    <div class="card-feature-info_desc">
                        <div class="card-badge">
                            status
                        </div>
                        <div class="card-title">Activity Feed</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi exercitationem eligendi corporis officiis provident! Aliquid porro fuga laborum earum rerum!
                        </p>
                    </div>
                    <figure class="new-feat_photos">
                        <img src="/images/uploads/download.png" alt="">
                        <img src="/images/uploads/brussels-sprouts-on-green-concrete.jpeg" alt="">
                        <img src="/images/uploads/azure-bay.jpeg" alt="">
                    </figure>
                </div>
            </article>
        </article>

        <article class="home-new-asset_docs">
            <article class="card">
                <span class="card-note">section</span>
                <span class="card-title">Analytics &amp; reporting</span>
            </article>
        </article>

        <article class="home-new-asset_docs">
            <article class="card">
                <span class="card-note">section</span>
                <span class="card-title">Branding &amp; Templates</span>
            </article>
        </article>

        <article class="home-new-asset_docs">
            <article class="card">
                <span class="card-note">newest</span>
                <span class="card-title">Surfing in Maldives</span>
            </article>
        </article>

        <article class="home-new-asset_docs">
            <article class="card">
                <span class="card-note">newest</span>
                <span class="card-title">Surfing in Maldives</span>
            </article>
        </article>

        <article class="home-new-asset_docs">
            <article class="card">
                <span class="card-note">newest</span>
                <span class="card-title">Surfing in Maldives</span>
            </article>
        </article>

        <article class="home-new_guides">
            <article class="card">
                <figure>
                    <figcaption>Multi-Lingual Platform</figcaption>
                    <img src="/images/uploads/alpine-mountain-landscape-with-lake.jpeg">
                </figure>
                <div class="home-guides_profile">
                    <img class="home-guides_avatar" src="https://i.pravatar.cc/400?img=70">
                </div>
                <div class="card-content">
                    <span class="card-title">
                        Multi-Lingual Platform: User Experience
                    </span>
                    <div class="card-author">
                        <span class="card-author_name">
                            Tom R. Toe
                        </span>
                        <span class="card-author_divider">
                            /
                        </span>
                        <span class="card-author_role">
                            Greengrocer
                        </span>
                    </div>
                </div>
            </article>
        </article>

        <article class="home-new_guides">
            <article class="card">
                <figure>
                    <figcaption>Multi-Lingual Platform</figcaption>
                    <img src="/images/uploads/brussels-sprouts-on-green-concrete.jpeg">
                </figure>
                <div class="home-guides_profile">
                    <img class="home-guides_avatar" src="https://i.pravatar.cc/400?img=26">
                </div>
                <div class="card-content">
                    <span class="card-title">
                        Multi-Lingual Platform: User Experience
                    </span>
                    <div class="card-author">
                        <span class="card-author_name">
                            Thomas R. Toe
                        </span>
                        <span class="card-author_role">
                            Greengrocer
                        </span>
                    </div>
                </div>
            </article>
        </article>

        <article class="home-new_guides">
            <article class="card">
                <figure>
                    <figcaption>Multi-Lingual Platform</figcaption>
                    <img src="/images/uploads/data.jpeg">
                </figure>
                <div class="home-guides_profile">
                    <img class="home-guides_avatar" src="https://i.pravatar.cc/400?img=12">
                </div>
                <div class="card-content">
                    <span class="card-title">
                        Multi-Lingual Platform: User Experience
                    </span>
                    <div class="card-author">
                        <span class="card-author_name">
                            Thomas R. Toe
                        </span>
                        <span class="card-author_role">
                            Greengrocer
                        </span>
                    </div>
                </div>
            </article>
        </article>

        <article class="home-new_releases">
            <article class="card">
                <div class="soclai-media_toolbar">
                    <div class="social-toolbar_info">
                        <figure class="social-toolbar_icon">
                            <img class="social-toolbar-avatar" src="https://i.pravatar.cc/100?img=67">
                        </figure>
                        <span class="social-toolbar_name">
                            John Doe
                        </span>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
                </div>
            </article>
            <article class="card-right">
                <span class="card-title">
                    <strong>"</strong>
                    A photo taken by someone somewhere about their experiences at some time
                    <strong>"</strong>
                </span>
            </article>
        </article>

        <article class="home-market_blogs">
            <article class="card">
                <!--list of new marketing site blogs -->
            </article>
        </article>

    </div>
</section>