
<section class="hero" style="background-image:url('{{ herolist.data.featuredImage | url }}');">
    <div class="hero-overlay">
        <h1 class="hero-overlay_title">{{ herolist.data.title }}</h1>
        <h3 class="hero-overlay_subtitle"> {{ herolist.data.subtitle }} </h3>
    </div>
</section>