--- 
layout: layouts/base.njk 
---
<section class="post-header" style="background-image:'{{ featuredImage | url }}';">
    <h2 class="post-header_title">{{ title }}</h2>
</div>
<section class="post-content">
    <p>{{ content | safe }}</p>
</section>